.tracker {
  padding: 1% 19%;
}
.bt__tracker {
  display: none;
}
.business__title {
  color: var(--Primary_text-color, #fff);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.business__boxes {
  display: flex;
  flex-direction: column;
  height: 350px;
  flex-wrap: wrap;
}
.BusinessMobNavbar {
  display: none;
}
@media only screen and (max-width: 768px) {
  .BusinessWebNavbar {
    display: none;
  }
  .bt__dashboard {
    display: none;
  }
  .bt__tracker {
    display: block;
  }
  .business__boxes {
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .tracker {
    padding: 2px 15px;
  }
  .BusinessMobNavbar {
    display: block;
  }
}
