.profile {
  background: #272727;
}
.profile > h2 {
  color: #fff;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  /* font-size: 24px; */
  font-style: normal;
  padding: 100px 40px;
  margin-top: 0px;
  font-weight: 600;
  line-height: normal;
}
.boxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.profile .button {
  display: flex;
  align-items: center;
  margin-top: 50px;
  justify-content: center;
}
.profile .button > button {
  border-radius: 8px;
  background: #00955f;
  border: 1px solid transparent;
  padding: 10px 10px;
  width: 100px;
  color: white;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}
