.credit__book {
  padding: 2px 15px;
}
.credit__book > p {
  color: #787878;
  font-size: 14px;
  font-style: normal;
  margin: 15px 0px 7px;
  font-weight: 400;
  line-height: normal;
}
.status__dropdown {
  display: flex;
  /* flex-direction: row;
  justify-content: space-between;
  align-items: center; */
}
