.factor__header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #000;
  background: rgba(0, 0, 0, 0.2);
}

.factor__header .fh__header1 > p {
  margin: 0;
  padding: 10px 15px;
  color: #919191;
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.factor__header .fh__header2 > p {
  margin: 0;
  padding: 10px 15px;
  color: #919191;
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.factor__header .fh__header3 > p {
  margin: 0;
  padding: 10px 15px;
  color: #919191;
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.factor__header .fh__header4 > p {
  margin: 0;
  padding: 10px 15px;
  color: #919191;
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.factor__header .fh__header1 {
  width: 16%;
}
.factor__header .fh__header2 {
  width: 28%;
}
.factor__header .fh__header3 {
  width: 28%;
}

.factor__header .fh__header4 {
  width: 28%;
}

/* Factor Data */

.fd__factor__header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #000;
  background: rgba(0, 0, 0, 0.2);
}
.fd__factor__header .fd__fh__header1 {
  width: 16%;
}
.fd__factor__header .fd__fh__header2 {
  width: 28%;
}
.fd__factor__header .fd__fh__header3 {
  width: 28%;
}

.fd__factor__header .fd__fh__header4 {
  width: 28%;
}
.fd__factor__header .fd__fh__header1 > p {
  padding: 10px 15px;
  margin: 0;
  color: #fff;
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.fd__factor__header .fd__fh__header2 > p {
  padding: 10px 15px;
  margin: 0;
  color: var(--Primary_text-color, #fff);
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.fd__factor__header .fd__fh__header3 > p {
  padding: 10px 15px;
  margin: 0;
  color: #fff;
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.fd__factor__header .fd__fh__header4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.fd__factor__header .fd__fh__header4 .fd__fh__header4__right > .fd__icon {
  font-size: 12px;
  color: #fff;
  margin: 0px 10px;
  cursor: pointer;
}
.fd__factor__header .fd__fh__header4 .fd__fh__header4__left > p {
  padding: 10px 15px;
  margin: 0;
  color: var(--Secondary_Green, #3dc182);
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
