.support {
  padding: 1% 28%;
}
.c__web__navbar {
  display: block;
}
.c__mob__navbar {
  display: none;
}
.business__title {
  color: var(--Primary_text-color, #fff);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.support__details {
  margin-top: 40px;
}
.support__company {
  color: var(--Primary_text-color, #fff);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}
.support__contact {
  margin: 3px 0px 0px;
  color: #a19c9c;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.support__inputBox {
  margin-top: 30px;
  border-radius: 8px;
  border: 1px solid var(--Stroke_color, #404040);
  width: 100%;
  height: 150px;
}

.support__inputBox > textarea {
  background: none;
  width: 95%;
  padding: 10px;
  border: none;
  color: var(--Primary_text-color, #fff);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 130px;
  vertical-align: top;
  resize: none; /* Prevent manual resizing */
  overflow-y: hidden; /* Hide vertical scrollbar */
}

.support__inputBox > textarea:focus {
  border: 0; /* Hide border when input is clicked */
  outline: none;
}
.support__post {
  margin-top: 20px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  border: none;
  padding: 8px 30px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 8px;
  background: #00955f;
}
textarea::placeholder {
  color: #a7a1a1;
  opacity: 0.9;
}
@media only screen and (max-width: 768px) {
  .support {
    padding: 2px 15px;
  }
  .c__web__navbar {
    display: none;
  }
  .c__mob__navbar {
    display: block;
  }
}
