.explore__mob__navbar {
  display: none;
}
.flexCenter {
  display: flex;
  padding: 8px 16px 4px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.explore__main {
  padding: 1% 20%;
}
.text1explore {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.yellowText {
  display: flex;
  padding: 0px 6px;
  align-items: center;
  gap: 10px;
  border-radius: 200px;
  background: #f0ad00;
}
.blackTextExplore {
  color: #000;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.text2Explore {
  color: var(--Primary_text-color, #fff);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.paddHori16 {
  padding: 0 16px;
}
@media only screen and (max-width: 768px) {
  .explore__web__navabr {
    display: none;
  }
  .explore__main {
    padding: 0px;
  }
  .explore__mob__navbar {
    display: block;
  }
}
