.tracker__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
  background: rgba(0, 0, 0, 0.2);
}
.tracker__header .pt_tracker__header__list {
  padding: 10px 0px;
  width: 14.28%;
}
.tracker__header .pt_tracker__header__list > p {
  padding: 10px 15px;
  margin: 0;
  color: var(--Primary_text-color, #fff);
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.tracker__header .pt_tracker__header__list_name {
  padding: 0px 0px;
  width: 14.28%;
  margin: 0;
}
.tracker__header .pt_tracker__header__list_name > p {
  padding: 0px 15px;
  margin: 0;
  color: var(--Secondary_Text_grey, #d9d9d9);
  font-family: "Poppins";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.tracker__header .td__pencil {
  padding-right: 10px;
  cursor: pointer;
}
.tracker__header .td__pencil .td__pencil__icon {
  color: #d9d9d9;
  font-size: 12px;
}
