.inputBox {
  border-radius: 8px;
  border: 1px solid #404040;
  color: #cfcccc;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  width: 96%;
}
::placeholder {
  color: #cfcccc;
  font-size: 16px;
}
.inputBox:focus {
  outline: none;
}

@media only screen and (max-width: 768px) {
  .inputBox {
    width: 95%;
  }
}
