.adminSupport {
  padding: 1% 20%;
}
.sp__mob__navabr {
  display: none;
}
.sp__web__navabr {
  display: block;
}
.admin__support__page {
  padding: 1% 20%;
}
.admin__support > h2 {
  color: var(--Primary_text-color, #fff);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  /* margin: 0; */
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.admin__support__page__title h2 {
  color: var(--Primary_text-color, #fff);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 10px;
  margin: 0;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.adminSupport__page__middle {
  margin-top: 80px;
}

.adminSupport__page__middle .name__individual {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.adminSupport__page__middle .name__individual > h2 {
  margin-right: 15px;
  color: var(--Primary_text-color, #fff);
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.adminSupport__page__middle .name__individual > button {
  border-radius: 200px;
  background: rgba(240, 173, 0, 0.06);
  color: #f0ad00;
  font-family: "Poppins";
  border: none;
  font-size: 14px;
  padding: 3px 7px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.admin__support__page__title > button {
  color: #3dc182;
  border: none;
  background: none;
  font-family: "Poppins";
  font-size: 18px;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}
.adminSupport__page__middle > p {
  color: #a19c9c;
  font-family: "Poppins";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  line-height: normal;
}
.support__subject > p {
  color: var(--Primary_text-color, #fff);
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.support__changeStatus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.support__changeStatus > p {
  color: #787878;
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.support__changeStatus .open__button > button {
  color: #d9d9d9;
  font-family: "Poppins";
  border: none;
  background: transparent;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.open__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 200px;
  background: #393939;
  padding: 5px 10px;
}
.open__button .open__button__down {
  color: #d9d9d9;
}
@media only screen and (max-width: 768px) {
  .adminSupport {
    padding: 0px 0px;
  }
  .admin__support {
    padding: 2px 15px;
  }
  .sp__mob__navabr {
    display: block;
  }
  .sp__web__navabr {
    display: none;
  }
  .admin__support__page {
    padding: 2px 15px;
  }
}
