/* Default styles for all devices */
.login__left {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 60px;

  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    #272727;
}

.login__left > .login__left__logo {
  width: 140px;
  width: 142px;
}
.login__left > .login__lefttext {
  width: 77px;
  margin-top: 50px;
  height: 17.271px;
}
.login__left > h2 {
  color: #fff;
  width: 55%;
  font-family: "Poppins";
  font-size: 48px;
  font-style: normal;
  margin: 0;
  font-weight: 600;
  line-height: normal;
}
.login__right {
  width: 55%;
}
.loginPage {
  background: #272727;
  padding: 15px;
  background: #272727;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login__page {
  width: 55%;
}
.loginLogoImg {
  width: 28.993px;
  height: 29.5px;
}
.loginPageText img {
  margin-left: 5px;
  width: 28%;
}

.upperLoginPart {
  padding: 12% 0%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.loginPageText {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  margin-left: 4%;
}
.loginPageText h2 {
  color: #fff;
  font-family: "Poppins";
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}
.loginPageText img.logoText {
  margin-left: 15px;
  max-height: 100%;
}
.forgotText {
  cursor: pointer;
  color: #fff;
  font-family: "Poppins", sans-serif;
  margin-top: 0px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.alreadyUser {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.alreadyUser > p {
  margin-right: 5px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.alreadyUser > a {
  text-decoration: none;
  color: #00955f;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}
.continue,
.bottomLogin,
.bottomLogin p,
.bottomLogin > p > a {
  text-align: center;
  margin-top: 40px;
  font-family: "Poppins", sans-serif;
}
.continue,
.bottomLogin p {
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  color: #a9a3a3;
}
.bottomLogin > p > a {
  color: #00955f;
  text-decoration-line: underline;
}

/* Media query for mobile devices */
@media only screen and (max-width: 768px) {
  .login__left {
    display: none;
  }
  .login__page {
    width: 95%;
  }
  .login__right {
    width: 100%;
  }
  /* Adjust styles for mobile devices */
  .upperLoginPart {
    padding: 10% 5%;
  }
  .loginPageText {
    margin-left: 2%;
  }
  .loginPageText h2 {
    font-size: 20px;
  }
  .alreadyUser > p,
  .alreadyUser > a,
  .bottomLogin p,
  .bottomLogin > p > a {
    font-size: 10px;
  }
}
