.container {
  /* background-color: grey; */
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mainView {
  width: 20vw;
  background-color: var(--backColor);
  height: 100vh;
  padding-left: 16px;
  /* padding-right: 16px; */
}
.topContent{
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row{
  display: flex;
  flex-direction: row;
}
.topText-s{
  color: #fff;
  font-size: 1.4vw;
  margin-left: 10px;
  font-weight: 600;
}
.greenTest{
  margin-left: 0px;
  color: #00955F;
}
.logo-s{
  height: 1.5vw;
}
.userInputs_s{
  margin-top: 5vw;
}
.email{
  color: #D6D6D6;
}
.input{
  padding-left: 0.5vw;
  border-radius: 6px;
  border-color: #404040;
  background-color: var(--backColor);
  height: 2vw;
  margin-top: 4;
  color: #fff;
  width: 18vw;
}
.input_div{
  margin-top: 0.5vw;
}
.inputHeading{
  margin-top: 0.5vw;
}
.text1{
  color: #fff;
  font-size: .9vw;
  font-weight: 400;
}

.button1{
  margin-top: 24px;
  background-color: #00955F;
  height: 2.9vw;
  width: 18.8vw;
  border-radius: 0.2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnText{
  color: #fff;
}
.textSize{
  font-size: 1.2vw;
}
.socialIcons{
  margin: 10px;
  border-width: 6px;
  border-color: #fff;
}


@media (max-width: 420px) {
  .container {
    display: grid;
    /* flex: 1;
    flex-direction: row; */
  }

  .mainView {
    width: 100vw;
    background-color: var(--backColor);
    height: 100vh;
  }
}