.container {
  padding: 15px;
  margin-top: 32%;
}

.mainView {
  background-color: var(--backColor);
}
.logoDiv .logoImg {
  width: 40%;
  margin-bottom: 30px;
}
.logoDiv .logoText {
  width: 25%;
}
.text1splash {
  color: #fff;
  font-size: 3.2rem;
  font-family: "Poppins", sans-serif;
  /* font-style: normal; */
  font-weight: 600;
  line-height: normal;
  margin-top: 10px;
}
