.admin__mob__navbar {
  display: none;
}
.admin {
  padding: 1% 20%;
}
/* .admin__web__navbar{
    display: none;
  } */
.admin__button > button {
  margin-bottom: 20px;
  margin-right: 15px;
  background-color: transparent;
  border: none;
  outline: none;
  padding-bottom: 14px;

  color: var(--Primary_text-color, #fff);
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.admin__button .admin__button__clicked {
  border-bottom: 1px solid var(--Stroke_color, #404040);
  color: var(--Secondary_Green, #3dc182);
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media only screen and (max-width: 768px) {
  .admin {
    padding: 0px 0px;
  }
  .admin__button {
    padding: 15px 25px;
  }
  .admin__mob__navbar {
    display: block;
  }
  .admin__web__navbar {
    display: none;
  }
  .admin__button > button {
    margin-bottom: 0px;
    margin-right: 15px;
    background-color: transparent;
    border: none;
    outline: none;
    padding-bottom: 14px;

    color: var(--Primary_text-color, #fff);
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .admin__button .admin__button__clicked {
    border-bottom: 1px solid var(--Stroke_color, #404040);
  }
}
