.tracker__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
  background: rgba(0, 0, 0, 0.2);
}
/* .tracker__header .tracker__header__list {
  width: 14.28%;
} */
.tracker__header .tracker__header__list > p {
  padding: 10px 15px;
  color: #919191;
  font-family: "Poppins";
  /* max-width: 18%;
  min-width: fit-content; */

  /* width: fit-content; */
  margin: 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.td__pencil__header {
  visibility: hidden;
  padding-right: 10px;
}
